body{
    font-size: 1.5rem;
    margin: 0px;
    font-family: "Roboto",sans-serif;
    
}
main{
    height: 80vh;
    background-color: #b18042;
    display: flex;
    justify-content: center;
   padding: 50px;
}
.card{
    z-index: 1;
    padding: 30px;
    border-radius: 15px;
    height: 400px;
    width: 600px;
    background: rgb(221,221,221);
}
.blob{
    position: absolute;
    height: 50vh;
    width: 40vh;
    background: linear-gradient(
        90deg ,
        rgb(102,179,212) 0% ,
        rgba(243,247,240,1) 100%
    );
    -webkit-animation: move 25s infinite alternate;
    animation: move 15s infinite alternate;
    transition: 1s cubic-bezier(0.07,0.08,0.16,1);
    
}
@-webkit-keyframes move{
    from{
        transform: translate(-10vh,-5vh) rotate(-90deg);
        border-radius: 50% 50% 77% 23% / 50% 60% 40% 50%;
    }
    to{
        transform: translate(50vh,10vh) rotate(-10deg);
        border-radius: 35% 65% 75% 25% / 30% 40% 22% 50%;
    }
}
@keyframes move{
    from{
        transform: translate(-10vh,-5vh) rotate(-90deg);
        border-radius: 50% 50% 77% 23% / 50% 60% 40% 50%;
    }
    to{
        transform: translate(50vh,10vh) rotate(-10deg);
        border-radius: 35% 65% 75% 25% / 30% 78% 22% 70%;
    }
}

.prev h1{
    position: absolute;


    margin: -312px 0px;
    
}
.cont::after{
    content: "are Great";
    margin: 0px 200px;
    color: red;
    animation: code 9s linear;
}
.cont{
    opacity: 1;
}
@keyframes code{
    0%{
        opacity: 0;
        content: "are backbone";
    }
    12%{
        opacity: 1;
        content: "are backbone";
    }
    24%{
        opacity: 0;;
        content: "are backbone";
    }
    36%{
        opacity: 0;
        content: "are well-wisher";
    }
    48%{
        opacity: 1;
        content: "are well-wisher";
    }
    60%{
        opacity: 0;
        content: "are well-wisher";
    }
    72%{
        opacity: 0;
        content: "are life";
    }
    84%{
        opacity: 1;
        content: "are life";
    }
    100%{
        opacity: 0;
        content: "are life";
    }
}
#butt{
    width: 159px;
    height: 40px;
    font-size: 21px;
    background-color: white;
    color: darkgreen;
    font-weight: bold;
    border-radius: 26px;
}
.button{
    display: flex;
    justify-content: center;
    margin: -71px;
    text-decoration: none;
}
#logo{
    color: green;
    margin: -13px 0px;
}
#wel{
   margin: 57px 0px;
   font-size: 19px;
}

